/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --white-color: #ffffff;
    --dark-color:#252525;
    --primary-color: #3b141c;
    --secondary-color: #934d22;
    --background-color: #f5f5f5;
    --text-color: #ccc;
    /* Font Weights */
    --font-weight: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;    
    --font-weight-bold: 700;
    /* Font Sizes */
    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --fontsize-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:2.3rem;
    /* Border Radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 500px;
    --site-max-width: 1300px;
}
html
{
    scroll-behavior: smooth;
}
/*styling for whole page*/

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.section-content{
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}
.section-titles{
    text-align: center;
    padding: 60px 0 100px;
    text-transform:uppercase ;
    font-size: var(--font-size-xl);
}

.section-titles::after{
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    margin: 10px auto 0;
    background-color: var(--secondary-color);
    border-radius: var(--font-size-s);
    margin: 16px auto 0;
}
/*navbar styling*/
header{
    position: fixed;
    width: 100%;
    z-index:5 ;
    background: var(--primary-color);
}
.navbar {
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo-text{
    color: var(--white-color);  
    font-size:var(--font-size-xl) ;
    font-weight: var(--font-weight-semibold);
}
.navbar .nav-menu{
    display: flex;
    gap: 10px;
}

.nav-link{
    padding: 10px 18px;
    
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    font-size:var(--font-size-m);
    transition: 3s ease ;
}
.nav-link:hover{
    color: var(--primary-color);
        background-color: var(--secondary-color);
    }
.hero-section{
    background: var(--primary-color);
    min-height: 100vh;
    
}
.section-content{
    display: flex;
    align-items: center;
    color: var(--white-color);
    justify-content: space-between;;
}
.title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "miniver",sans-serif;
    margin-top: 100px;
}
.subtitle{
   margin-top: 8px; 
   max-width: 70%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}
.description{
    max-width: 70%;
    margin: 24px 0px 40px;
    font-size: var(--fontsize-m);
}

.button{
 
    padding:10px  26px;
    border: 2px solid transparent;
    color:var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-size-medium);
}
.button:hover,.contact-us{
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--white-color);
    transition: 0.3s ease;
}
.contact-us:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--white-color);
    transition: 0.3s ease;
}
.hero-image-wrapper{
    max-width:500px;
    margin-right: 30px;
   
}
/*style for about us */
.about-section{
    padding: 120px 0;
    background-color: var(--light-pink-color);
}
.about-section .section-content{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-color);
}
.about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
   
}
.section-titles{
    padding: 0;
}


.text{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--fontsize-m);
}
.social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.social-link{
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
}
.social-link:hover{
    color: var(--secondary-color);
}

/*Menu section Styling*/
.menu-section .menu-list{
    display: flex;
    gap: 110px;
    align-items: center;
    flex-wrap: wrap;
}
.menu-section{
    color: var(--white-color);
    background-color: var(--dark-color);
    padding: 50px 0 100px;
}
.menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}
.menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;

}

.menu-item .name{
    margin:12px 0 ;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}
.menu-item .price{
    font-size: var(--font-size-m);

}
/*Testimonials section*/
.testimonials-section{
    padding: 50px 0 100px;
    width: auto;
    max-width: 100%;
    background-color: var(--light-pink-color);
}
.testimonials-section .testimonial{
    user-select: none;
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}
.testimonials-section .name {
    color: black;
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}
.testimonials-section .feedback{
    color: black;
    line-height: 25px;
}
.testimonials-section .swiper-pagination-bullet{
    background-color: var(--secondary-color);
    opacity: 1;
    width: 15px;
    height: 15px;
}
.testimonials-section .swiper-slide-button {
    margin-top: -50px;
    color: var(--secondary-color);
     transition: 0.3s ease;

}
.testimonials-section .swiper-slide-button:hover {
    color: var(--primary-color);
   
}
.testimonials-section .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px;
}
/*Gallery styling*/
.gallery-section{
    padding: 50px 0 100px;
    
}
.gallery-section .gallery-list .gallery-item{
    overflow: hidden;
    border-radius: var(--border-radius-s);
    width: calc(100% / 3 - 32px);
}
.gallery-section  .gallery-item .gallery-image{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;
}
.gallery-section .gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery-section  .gallery-item:hover .gallery-image{
    transform: scale(1.3);
    transition: transform 0.3s ease;
}
/*contact us styling*/
.contact-section{
    background-color: var(--light-pink-color);
    padding: 50px 0 100px;
    max-width: 100%;
}
.contact-form{
    max-width: 100%;
}
.contact-section .section-content{
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}
.contact-section .contact-info-list .contact-info{
   display: flex;
   gap: 20px;
   margin: 20px 0;
   align-items: center;
}
.contact-section .contact-info-list .contact-info i{
    font-size: var(--fontsize-m);
}
.contact-section .contact-form .form-input{
    width: 100%;
    height: 50px;
    background-color: var(--white-color);
    padding: 0 12px;
    margin-top: 12px;
    outline: none;
    margin-bottom: 16px;
    border: 1px solid ;
    border-color: var(--medium-gray-color);
    border-radius: var(--border-radius-s);
    font-size: var(--fontsize-m);

}
.contact-section .contact-form{
    max-width: 50%;
}
.contact-section .contact-form .form-input:focus{
    border-color: var(--secondary-color);
}
.contact-section .contact-form .submit-button{
    padding: 10px 26px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    font-size: var(--fontsize-m);
    font-weight: var(--font-weight-medium);
    border: 1px solid var(--primary-color);
    transition: 0.3s ease;
}
.contact-section .contact-form .submit-button:hover{
    background-color: transparent;
    color: var(--primary-color);
    
}
.contact-section .contact-form textarea .form-input{
    height:100%;
    padding: 12px;
    resize: vertical;
}
.contact-info{
    color: var(--dark-color);
}
/*footer styling*/
.footer-section{
    padding: 20px 0;
  background-color: var(--dark-color);  
}
.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-section .social-link-list{
    display: flex;
    gap: 20px;
}
.footer-section .social-link-list .social-link{
    font-size: var(--font-size-l);
   
}
.footer-section .social-link-list .social-link:hover,
.footer-section .policy-link:hover{
    color: var(--secondary-color);
}
.footer-section .policy-link .separator{
    margin: 0 5px;
   color: var(--white-color);
}
.footer-section :where(.copyright-text,.social-link,.policy-link) {
    color: var(--white-color);
    transition: 0.2s ease;
}
@media screen and (max-width:1024){
    .menu-section .menu-list .menu-item{
        width:calc(100% / 3 - 60px);
    }

    .menu-section .menu-list{
        gap: 60px;   
    }
    
}
/*media query for max width 900px*/
@media screen  and (max-width:900px){
   :root{
        --fontsize-m:1rem;
        --font-size-l:1.3rem;
        --font-size-xl:1.5rem;
        --font-size-xxl:1.8rem;
    }
    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }
    .navbar:where(#menu-close-button,#menu-open-button){
        font-size: var(--font-size-l);
        display: block;
    }
    #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    #menu-open-button{
        color:var(--white-color);
    }
     .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px; 
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-color: var(--white-color);
        transition:  left 0.2s ease;
    }
    body.show-mobile-menu .navbar .nav-menu{
        left: 0; 

    }
    .nav-link{
       color: var(--dark-color); 
       font-size: var(--font-size-l);
       display:block;
       margin-top:17px ;  
      }
    .section-content{
        gap: 50px;
        text-align: center;
        padding:30px 20px 50px ;
        flex-direction: column-reverse;
        justify-content: center;
    }
    :is(.subtitle,.description){
        max-width: 100%;
    }
    .about-details{
        max-width: 100%;
    }
    .button{
        justify-content: center;
    }
    .hero-image-wrapper{
        max-width:270px;
        margin-top: 150px;
   
    }
    .about-section .section-content{
        flex-direction: column;
        gap: 70px;
        max-width: 350px;
    }
    .about-section about-image-wrapper .about-image{
        width: 100%;
        height: 100%; 
        max-width: 250px;
        aspect-ratio: 1;
    }
    .menu-section .menu-list{
        gap: 30px;
        
    }
    .menu-list .menu-item{
        width: calc(100% / 2 - 30px);
    }
    .menu-item .menu-image{
        max-width: 200%;
    }
    .gallery-section .gallery-list{
        gap: 30px;
    }
    .gallery-section .gallery-list .gallery-item{
        width: calc(100% / 2 - 30px);
    }
    .contact-section .section-content{
        align-items: center;
        flex-direction: column-reverse;

    }
}
/*media query for max width 640px*/
@media screen and (max-width: 640px) {
   .menu-section .menu-list .menu-item , 
   .gallery-section .gallery-list .gallery-item{
        width:100%;
    }


    .menu-section .menu-list{
        gap: 60px;   
    }
    .testimonials-section .slider-wrapper{
        margin: 0  0  30px;
        width: 100%;

    }
    .testimonials-section .swiper-slide-button {
        display: none;
        
    }
    .footer-section .section-content{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
 
}   
